.message.from-me .username {
  display: none;
}

.message.from-me {
  display: flex;
  justify-content: flex-end;
}

.message.from-me .message-body {
  background-color: #0084ff;
  color: white;
}

.message {
  margin-bottom: 20px;
}

.message-body {
  width: 30%;
  height: 35px;
  max-width: 80%;
  display: inline-block;
  padding: 5px 10px;
  background-color: #eee;
  border: 1px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 25px;
}

.username {
  font-weight: bold;
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 5px;
}